.app-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper-content {
  flex: 1;
  padding: 2rem;
}

.background-wrapper {
  background-color: var(--main-scene-background);
}

.locale-changer {
  margin-bottom: 2rem;
}